html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

body{
  /* Why does the body always default to margins of 8? I always end up having to set body to margin: 0 to have the header sit right */
  margin: 0;
}

header{
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

.logo{
  flex-shrink: 1;
  display: flex;
  padding: 10px;
  justify-content: center;
}

header nav{
  text-decoration: underline;
  flex-grow: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

header nav span{
  padding: 20px 10px;
}

header nav a{
  color: seashell;
}

.mission{
  padding-top: 69px;
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.missionimage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
}

.missionimage h2, .missionimage h4{
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.featured{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
}

.item img{
  height: 200px;
  width: 300px;
}
